In [1]:
## Data from FBref

In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame()

In [4]:
for i in range(2015, 2023):
    season = f"{i}-{i+1}"
    site = f"https://fbref.com/en/comps/Big5/{season}/shooting/players/{season}-Big-5-European-Leagues-Stats"
    page = pd.read_html(site)
    frame = page[0]
    frame.columns = frame.columns.droplevel(0)
    frame = frame[frame['Gls'].notna()]
    frame = frame[frame['Gls'] != 'Gls']
    frame['Gls'] = frame['Gls'].astype(int)
    frame['Season'] = i+1
    
    df = pd.concat([df, frame])

In [5]:
goals = df[['Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', '90s', 'Gls', 'PK', 'xG', 'npxG']]
goals = goals[goals['xG'].notna()]

In [6]:
goals['npGls'] = goals['Gls'] - goals['PK'].astype(float)
goals['npxG'] = goals['npxG'].astype(float)

In [7]:
goals = goals.groupby(['Player'], as_index=False).sum()

goals['Diff'] = goals['npGls'] - goals['npxG']
goals = goals.sort_values(by=['Diff'])

In [8]:
worst_ten = goals.head(10)
worst_ten

                 Player  Gls  npxG  npGls  Diff
1374         Edin Džeko   67  84.2   67.0 -17.2
2879      Kevin Lasagna   35  48.6   35.0 -13.6
1787      Gabriel Jesus   56  66.5   54.0 -12.5
3140    Lorenzo Insigne   56  45.4   33.0 -12.4
896   Christian Benteke   20  31.0   19.0 -12.0
4862       Sergi Enrich   14  24.0   14.0 -10.0
3986        Neal Maupay   27  32.0   22.0 -10.0
3234      Lucas Ocampos   38  38.8   29.0  -9.8
4606    Rodrigo Palacio   19  28.6   19.0  -9.6
2538   Jonathan Calleri   24  26.5   17.0  -9.5

In [9]:
best_ten = goals.tail(10)
best_ten = best_ten.sort_values(by="Diff", ascending=False)
best_ten

               Player  Gls  npxG  npGls  Diff
3118     Lionel Messi  138  95.8  124.0  28.2
4978    Son Heung-min   78  53.7   77.0  23.3
2083       Iago Aspas   95  53.2   74.0  20.8
946     Ciro Immobile  133  76.3   96.0  19.7
1330    Dries Mertens   63  39.1   57.0  17.9
1496   Erling Haaland   80  51.5   69.0  17.5
2875  Kevin De Bruyne   47  27.9   43.0  15.1
4551     Riyad Mahrez   51  31.2   46.0  14.8
4293     Paulo Dybala   57  35.4   50.0  14.6
3268      Luis Muriel   64  38.4   53.0  14.6